Vitals {
	position: absolute;
	left: 24px;
	bottom: 24px;
	font-size: 25px;
	font-family: Poppins;
	color: #fff;

	.Health {
		background-color: #333333;
		padding: 12px 24px;
		border-radius: 8px;
		align-items: center;

		.iconpanel {
			font-size: 32px;
			margin-right: 8px;
		}
	}
}
